body, h1, h2, p, button {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/* Body styles */
body {
    width: 1200px;
    height: 2336px;
    background-color: #171616;
}

.block1 {
background-image: url(/assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
padding: 200px;
text-align: flex-start;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

/* UP MENU */
header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 5px 10px;
  margin-bottom: 50px;
  margin-left: -100px;
  margin-top: -150px;
}

.site-title {
  color: #ffffff;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 0.8;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 0;
  margin-right: 100px;
  padding-left: 0;
  padding-top: 0;
  background-color: transparent;
}

.menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  background-color: transparent;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu li {
  text-transform: uppercase;
}

.menu li a {
  color: #ffffff;
  font-family: Source Sans Pro;
  font-size: 14px;
  letter-spacing: 3.2px;
  line-height: 1.1428571428571428;
  text-decoration: none;
}

/* LOGO */
.logo1 {
    display: flex;
   justify-content: center;
   align-items: center;
}

.block1h1 {
    padding-top: 13px;
    height: 118px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.block1h2 {
    width: 426px;
    height: 56px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.block1 section {
    margin-bottom: 40px;
}

/* Block2  */
.block2 {
    padding: 100px 40px;
    width: 1200px;
    background: #EEEEEE;
    text-align: center;
}

.block2h1 {
    padding-top: 88px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.block2h2 {
padding-top: 39px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}

.block2p1,
.block2p2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #666666;
}

.block2-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 45px;
  margin-left: 150px;
  margin-right: 143px;
  gap: 83px;
}

.block2-column {
  flex-basis: 50%;
}

.button1 {
    margin-top: 100px;
    background: #55C2D8;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Block3  */
.block3 {
    width: 1200px;
    background-image: url(/assets/IMG_1334_72dpi_RGB_\ 1.png);
    text-align: center;
    padding: 100px 40px;
    background-repeat: no-repeat;
}

.block3h1 {
    width: 480px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
font-style: normal;
padding-top: 80px;
}

.button2 {
    width: 150px;
    height: 150px;
    background: #39C2D7;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 55px; 
}

.block3h2 {
    width: 390px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
text-align: center;
color: #FFFFFF;
padding-top: 5px;
}

/* Block 4 */
.block4 {
padding: 100px 30px;
 width: 1200px;
background: #464547;
display: flex;
align-items: flex-start;
justify-content: flex-start;
padding: 50px 200px 0px 0px;
color: rgba(255, 255, 255, 0.4);
flex-wrap: wrap;
}

.logo {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: 200px;
}

.project-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  margin-left: 15px; 
}

.adress,
.block4-link,
.block4p {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 100px;
}

.block4-link {
  margin-top: 200px;
  margin-bottom: 0; 
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.4);
}

.block4p {
  margin-top: 45px;
  margin-right: 100px;
  margin-bottom: 0;
}
